<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="STASH" class="net.logstash.logback.appender.LogstashSocketAppender">
        <syslogHost>10.0.0.7</syslogHost>
        <port>8514</port>
        <includeCallerInfo>true</includeCallerInfo>
        <customFields>{"appname": "heklasys"}</customFields>
    </appender>

    <root>
        <appender-ref ref="STASH"/>
    </root>
</configuration>