<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<body>
<h2 layout:fragment="page-title">Debug</h2>
<section layout:fragment="content">
    <form th:action="@{/debug/sendMessage}" th:object="${message}" method="post">
        <!--<input type="text" th:field="${node.ip}" placeholder="ip"/>-->
        <select th:field="*{type}">
            <option th:each="type : ${types}" th:value="${type}" th:text="${type.name()}"></option>
        </select>
        <input type="text" th:field="*{identifier}" placeholder="message ID"/>
        <input type="text" th:field="*{data}" placeholder="data"/>

        <input type="submit" class="btn btn-primary" value="Send"/>
    </form>

    <table class="table table-hover table-striped"
           xmlns:th="http://www.thymeleaf.org" th:inline="text">
        <thead>
        <tr>
            <th>Id</th>
            <th>Request</th>
            <th>Response</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="msg : ${messages}">
            <td th:text="${msg.identifier}"/>
            <td>
                <i class="fa fa-tag"></i> [[${msg.type}]]<br/>
                <i class="fa fa-share"></i> [[${msg.requestSend}]]<br/>
                <i class="fa fa-envelope-o"></i> [[${msg.requestDataStr}]]
            </td>
            <td>
                <i class="fa fa-tag"></i> [[${msg.responseType}]]<br/>
                <i class="fa fa-reply"></i> [[${msg.responseReceive}]]<br/>
                <i class="fa fa-envelope-o"></i> [[${msg.responseDataStr}]]
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>