<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<body th:inline="text">
    <h2 layout:fragment="page-title">
        <i th:class="'fa fa-' + ${device.type}"></i>
        <span th:text="${device.identifier}"/>
    </h2>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-6">
                <section class="widget">
                    <!--<header>-->
                        <!--<h4><i class="fa fa-sitemap"></i> Uzly</h4>-->
                    <!--</header>-->
                    <ul>
                        <li th:if="${device.node}">
                            Node: <a th:href="@{/devices/} + ${device.node.id}">[[${device.node.identifier}]]</a>
                        </li>
                        <li>
                            Room: <a th:href="@{/house/room/} + ${device.room.id}">[[${device.room.name}]]</a>
                        </li>
                    </ul>
                </section>
            </div>

            <div class="col-md-6" th:if="${device.node == null}">
                <section class="widget">
                    <header><h4><i class="fa fa-comments"></i> Zprávy</h4></header>
                    <div id="device-messages-table">
                        <i class="fa fa-refresh fa-spin fa-2x"></i>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div layout:fragment="script">
        <script type="application/javascript" th:inline="javascript" th:if="${device.node == null}">
            // Load messages for this device id
            $(function() {
                var messagesUrl = /*[[@{/devices/} + ${device.id} + '/ajax/messages']]*/ null;
                $.ajax({
                    url: messagesUrl,
                    context: $('#device-messages-table')
                }).done(function(text) {
                    $(this).html(text);
                });
            });
        </script>
    </div>
</body>
</html>