<table class="table table-hover table-striped"
       xmlns:th="http://www.thymeleaf.org" th:inline="text">
    <thead>
    <tr>
        <th>Id</th>
        <th>Request</th>
        <th>Response</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="msg : ${messages}">
        <td th:text="${msg.identifier}"/>
        <td>
            <i class="fa fa-tag"></i> [[${msg.type}]]<br/>
            <i class="fa fa-share"></i> [[${msg.requestSend}]]<br/>
            <i class="fa fa-envelope-o"></i> [[${msg.requestDataStr}]]
        </td>
        <td>
            <i class="fa fa-tag"></i> [[${msg.responseType}]]<br/>
            <i class="fa fa-reply"></i> [[${msg.responseReceive}]]<br/>
            <i class="fa fa-envelope-o"></i> [[${msg.responseDataStr}]]
        </td>
    </tr>
    </tbody>
</table>